.config/dconf/
.config/nvim/LICENSE
.config/nvim/README.md
.config/nvim/lazy-lock.json
.config/pulse/
qBittorrent/
.gnupg/

.config/git
.config/menus
.config/qt6ct
.config/systemd/user/graphical-session.target.wants
.config/obsidian
.config/Thunar
.config/mimeapps.list
.config/electron-*
.config/configstore

